/* General Body Styles */
body {
    margin: 0;
    padding: 0;
}

/* Background Image for the Top Section */
.top-section {
    background: url('/img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Make the background image take full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Content Styles Below the Top Section */
.content-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

/* Form Styles */
.form-control {
    border-radius: 5px;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Header Styles */
.article-header h1 {
    font-size: 2rem;
    font-weight: bold;
}

.article-header h4 {
    font-size: 1.5rem;
    color: #888;
}

/* Button Padding and Font Size */
.btn-sm {
    padding: 10px 20px;
    font-size: 1rem;
}
